.footer {
  background-color: $color-footer;
  padding: 18px 0;
  text-align: center;
  color: $color-white;

  &--deco {
    margin-top: 120px;

    @include tab {
      margin-top: 80px;
    }
  }
}
