<% if(filename.match(/about/) || filename.match(/contact/)){%>
<footer class="footer footer--deco">
    <%} else {%>
    <footer class="footer">
      <%}%>
      <p class="footer__copyright"><small>©2018 DIGSMILE INC.</small></p>
    <!-- end wrapper -->
</footer>
