<%- include ('common/_head'); %>
<%- include ('common/_header'); %>

<!-- start contents -->
<main>
  <!-- start mainVisual -->
  <section class="mainVisual">
    <div class="mainVisual__wrapper">
      <div class="mainVisual__box">
        <h2 class="MAINCOPY FONTSIZE--L">
          デザインで人を笑顔にする会社
          <span class="MAINCOPY--deco">DIGSMILE INC.</span>
        </h2>
        <p class="ENCOPY FONTSIZE--XL">DESIGN<br />FOR<br />SMILE.</p>
      </div>
    </div>
  </section>
  <!-- end  -->

  <!-- start WRAPPER -->
  <div class="WRAPPER">
    <!-- start about -->
    <section class="about">
      <div class="about__wrapper">
        <h2 class="TITLE FONTSIZE--LL2">ABOUT US</h2>
        <p class="about__description FONTSIZE--M">
          DIGSMILEは、デザインで人を笑顔にする会社。<br />
          なんでもない日常に少しのワクワクと遊び心を提供します。笑顔には世界を変える力がある、デザインには人を幸せにする力がある。毎日に幸せを感じて生きていきたい。<br />
          DIGSMILEの社名にはそんな想いが込められています。
        </p>
        <a href="#" class="BUTTON">READ MORE</a>
      </div>
    </section>
    <!-- end about -->

    <!-- start section__wrapper -->
    <div class="section__wrapper">
      <!-- start works -->
      <section class="works">
        <div class="works__wrapper">
          <h2 class="TITLE FONTSIZE--LL2">WORKS</h2>
          <figure>
            <img src="../img/works-img@2x.jpg" alt="" class="works__image" />
          </figure>
          <p class="works__caption FONTSIZE--M-ALL">DIGSMILEの制作実績を紹介します。</p>
          <a href="" class="BUTTON">READ MORE</a>
        </div>
      </section>
      <!-- end  -->

      <!-- start culture -->
      <section class="culture">
        <div class="culture__wrapper">
          <h2 class="TITLE FONTSIZE--LL2">CULTURE</h2>
          <figure>
            <img src="../img/culture-img@2x.jpg" alt="" class="culture__image" />
          </figure>
          <p class="culture__caption FONTSIZE--M-ALL">DIGSMILEの社内文化について紹介します。</p>
          <a href="" class="BUTTON">READ MORE</a>
        </div>
      </section>
      <!-- end culture -->
    </div>
    <!-- end section__wrapper -->
    <!-- start latest -->
    <section class="topics">
      <h2 class="TITLE FONTSIZE--LL2">LATEST TOPICS</h2>

      <div class="topics__wrapper">
        <article class="topics__box">
          <p class="topics__date FONTSIZE--SS"><time datetime="2020-02-01">2020.02.01</time></p>
          <h3 class="topics__title FONTSIZE--LL2 FONTSIZE--S">
            <a href="">イベントレポート「VRクリエイター座談会 〜5Gの次に来るもの〜」</a>
          </h3>
        </article>
        <article class="topics__box">
          <p class="topics__date FONTSIZE--SS"><time datetime="2020-01-18">2020.01.18</time></p>
          <h3 class="topics__title FONTSIZE--LL2 FONTSIZE--S"><a href="">プレスリリースのお知らせ DIGGIN’ RECORDS</a></h3>
        </article>
        <article class="topics__box">
          <p class="topics__date FONTSIZE--SS"><time datetime="2020-01-01">2020.01.01</time></p>
          <h3 class="topics__title FONTSIZE--LL2 FONTSIZE--S"><a href="">新年明けましておめでとうございます</a></h3>
        </article>
      </div>
      <a href="" class="BUTTON">READ MORE</a>
    </section>
    <!-- end latest -->

    <!-- start contact -->
    <section class="contact">
      <div class="contact__wrapper">
        <div class="contact__box">
          <h2 class="TITLE FONTSIZE--LL2">CONTACT</h2>
          <p class="contact__description FONTSIZE--M-ALL">
            制作の依頼、取材の依頼、IRや採用についての連絡・お問い合わせはコンタクトページから承っております。
            <br />
            まずはお気軽にご連絡ください。担当者から改めて返信いたします。
          </p>
          <a href="" class="BUTTON">READ MORE</a>
        </div>
        <figure>
          <img src="../dist/img/recruit-img@2x.jpg" alt="" />
        </figure>
      </div>
    </section>
    <!-- end contact -->

    <!-- end contents -->
  </div>
  <!-- end WRAPPER -->
</main>

  <%- include ('common/_footer'); %> <%- include ('common/_script'); %>
